In [87]:
import pandas as pd

In [88]:
bom_movies = pd.read_csv('bom.movie_gross.csv', index_col=0)

In [89]:
bom_movies.dropna(inplace=True)

In [90]:
rt_reviews = pd.read_csv("rt.reviews.tsv", sep = '\t', encoding='windows-1252')

In [91]:
rt_movies = pd.read_csv("rt.movie_info.tsv", sep = '\t', encoding='windows-1252')

In [92]:
rt_movies.dropna(inplace=True)

In [93]:
tmdb = pd.read_csv('tmdb.movies.csv', index_col=7)

In [94]:
tn = pd.read_csv('tn.movie_budgets.csv', index_col=2)

In [95]:
rt_movies['rating'].unique()

array(['R', 'PG-13', 'PG', 'NR', 'G', 'NC17'], dtype=object)

In [96]:
df = pd.merge(bom_movies, tmdb, on = 'title')

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1701 entries, Toy Story 3 to Time Freak
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   studio             1701 non-null   object
 1   domestic_gross     1701 non-null   float64
 2   foreign_gross      1701 non-null   object
 3   year               1701 non-null   int64
 4   Unnamed: 0         1701 non-null   int64
 5   genre_ids          1701 non-null   object
 6   id                 1701 non-null   int64
 7   original_language  1701 non-null   object
 8   original_title     1701 non-null   object
 9   popularity         1701 non-null   float64
 10  release_date       1701 non-null   object
 11  vote_average       1701 non-null   float64
 12  vote_count         1701 non-null   int64
dtypes: float64(3), int64(4), object(6)
memory usage: 186.0+ KB

In [98]:
df1 = df[['studio', 'domestic_gross', 'foreign_gross', 'year', 'popularity', 'vote_average']]

In [99]:
df1.reset_index()

,title,studio,domestic_gross,foreign_gross,year,popularity,vote_average
0,Toy Story 3,BV,415000000.0,652000000,2010,24.445,7.7
1,Inception,WB,292600000.0,535700000,2010,27.920,8.3
2,Shrek Forever After,P/DW,238700000.0,513900000,2010,15.041,6.1
3,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010,20.340,6.0
4,Iron Man 2,Par.,312400000.0,311500000,2010,28.515,6.8
...,...,...,...,...,...,...,...
1696,Bilal: A New Breed of Hero,VE,491000.0,1700000,2018,2.707,6.8
1697,I Still See You,LGF,1400.0,1500000,2018,12.867,6.8
1698,The Catcher Was a Spy,IFC,725000.0,229000,2018,9.727,6.2
1699,Time Freak,Grindstone,10000.0,256000,2018,1.604,6.9
1700,Time Freak,Grindstone,10000.0,256000,2018,9.751,6.3

In [100]:
tn

,id,release_date,production_budget,domestic_gross,worldwide_gross
movie,,,,,
Avatar,1,"Dec 18, 2009","$425,000,000","$760,507,625","$2,776,345,279"
Pirates of the Caribbean: On Stranger Tides,2,"May 20, 2011","$410,600,000","$241,063,875","$1,045,663,875"
Dark Phoenix,3,"Jun 7, 2019","$350,000,000","$42,762,350","$149,762,350"
Avengers: Age of Ultron,4,"May 1, 2015","$330,600,000","$459,005,868","$1,403,013,963"
Star Wars Ep. VIII: The Last Jedi,5,"Dec 15, 2017","$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...
Red 11,78,"Dec 31, 2018","$7,000",$0,$0
Following,79,"Apr 2, 1999","$6,000","$48,482","$240,495"
Return to the Land of Wonders,80,"Jul 13, 2005","$5,000","$1,338","$1,338"
A Plague So Pleasant,81,"Sep 29, 2015","$1,400",$0,$0
My Date With Drew,82,"Aug 5, 2005","$1,100","$181,041","$181,041"

In [101]:
df1

,studio,domestic_gross,foreign_gross,year,popularity,vote_average
title,,,,,,
Toy Story 3,BV,415000000.0,652000000,2010,24.445,7.7
Inception,WB,292600000.0,535700000,2010,27.920,8.3
Shrek Forever After,P/DW,238700000.0,513900000,2010,15.041,6.1
The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010,20.340,6.0
Iron Man 2,Par.,312400000.0,311500000,2010,28.515,6.8
...,...,...,...,...,...,...
Bilal: A New Breed of Hero,VE,491000.0,1700000,2018,2.707,6.8
I Still See You,LGF,1400.0,1500000,2018,12.867,6.8
The Catcher Was a Spy,IFC,725000.0,229000,2018,9.727,6.2
Time Freak,Grindstone,10000.0,256000,2018,1.604,6.9
Time Freak,Grindstone,10000.0,256000,2018,9.751,6.3

In [102]:
type(df1)

pandas.core.frame.DataFrame

In [103]:
type(tn)

pandas.core.frame.DataFrame

In [104]:
df1.sort_index()

,studio,domestic_gross,foreign_gross,year,popularity,vote_average
title,,,,,,
'71,RAtt.,1300000.0,355000,2015,10.523,6.8
10 Cloverfield Lane,Par.,72100000.0,38100000,2016,17.892,6.9
11-11-11,Rocket,32800.0,5700000,2011,5.196,4.3
12 Strong,WB,45800000.0,21600000,2018,13.183,5.6
12 Years a Slave,FoxS,56700000.0,131100000,2013,16.493,7.9
...,...,...,...,...,...,...
Zero Dark Thirty,Sony,95700000.0,37100000,2012,14.239,6.9
Zookeeper,Sony,80400000.0,89500000,2011,10.764,5.3
Zoolander 2,Par.,28800000.0,27900000,2016,12.997,4.7
Zootopia,BV,341300000.0,682500000,2016,27.549,7.7
mother!,Par.,17800000.0,26700000,2017,15.227,7.0

In [105]:
tn.index.name = 'title'

In [106]:
tn

,id,release_date,production_budget,domestic_gross,worldwide_gross
title,,,,,
Avatar,1,"Dec 18, 2009","$425,000,000","$760,507,625","$2,776,345,279"
Pirates of the Caribbean: On Stranger Tides,2,"May 20, 2011","$410,600,000","$241,063,875","$1,045,663,875"
Dark Phoenix,3,"Jun 7, 2019","$350,000,000","$42,762,350","$149,762,350"
Avengers: Age of Ultron,4,"May 1, 2015","$330,600,000","$459,005,868","$1,403,013,963"
Star Wars Ep. VIII: The Last Jedi,5,"Dec 15, 2017","$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...
Red 11,78,"Dec 31, 2018","$7,000",$0,$0
Following,79,"Apr 2, 1999","$6,000","$48,482","$240,495"
Return to the Land of Wonders,80,"Jul 13, 2005","$5,000","$1,338","$1,338"
A Plague So Pleasant,81,"Sep 29, 2015","$1,400",$0,$0
My Date With Drew,82,"Aug 5, 2005","$1,100","$181,041","$181,041"

In [107]:
df1

,studio,domestic_gross,foreign_gross,year,popularity,vote_average
title,,,,,,
Toy Story 3,BV,415000000.0,652000000,2010,24.445,7.7
Inception,WB,292600000.0,535700000,2010,27.920,8.3
Shrek Forever After,P/DW,238700000.0,513900000,2010,15.041,6.1
The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010,20.340,6.0
Iron Man 2,Par.,312400000.0,311500000,2010,28.515,6.8
...,...,...,...,...,...,...
Bilal: A New Breed of Hero,VE,491000.0,1700000,2018,2.707,6.8
I Still See You,LGF,1400.0,1500000,2018,12.867,6.8
The Catcher Was a Spy,IFC,725000.0,229000,2018,9.727,6.2
Time Freak,Grindstone,10000.0,256000,2018,1.604,6.9
Time Freak,Grindstone,10000.0,256000,2018,9.751,6.3

In [108]:
df4 = df1.merge(tn, on='title', how='left' )

In [109]:
df4.dropna(inplace=True)

In [110]:
df4

,studio,domestic_gross_x,foreign_gross,year,popularity,vote_average,id,release_date,production_budget,domestic_gross_y,worldwide_gross
title,,,,,,,,,,,
Toy Story 3,BV,415000000.0,652000000,2010,24.445,7.7,47.0,"Jun 18, 2010","$200,000,000","$415,004,880","$1,068,879,522"
Inception,WB,292600000.0,535700000,2010,27.920,8.3,38.0,"Jul 16, 2010","$160,000,000","$292,576,195","$835,524,642"
Shrek Forever After,P/DW,238700000.0,513900000,2010,15.041,6.1,27.0,"May 21, 2010","$165,000,000","$238,736,787","$756,244,673"
The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010,20.340,6.0,53.0,"Jun 30, 2010","$68,000,000","$300,531,751","$706,102,828"
Iron Man 2,Par.,312400000.0,311500000,2010,28.515,6.8,15.0,"May 7, 2010","$170,000,000","$312,433,331","$621,156,389"
...,...,...,...,...,...,...,...,...,...,...,...
Hotel Artemis,Global Road,6700000.0,6000000,2018,14.585,5.9,15.0,"Jun 8, 2018","$15,000,000","$6,708,137","$12,758,799"
Kin,LGF,5700000.0,4300000,2018,23.805,6.2,88.0,"Aug 31, 2018","$30,000,000","$5,718,096","$10,096,821"
Suspiria,Amazon,2500000.0,5400000,2018,16.925,7.0,81.0,"Oct 26, 2018","$20,000,000","$2,483,472","$7,034,615"
Destroyer,Annapurna,1500000.0,4000000,2018,17.815,5.9,5.0,"Dec 25, 2018","$9,000,000","$1,533,324","$3,681,096"
Bilal: A New Breed of Hero,VE,491000.0,1700000,2018,2.707,6.8,100.0,"Feb 2, 2018","$30,000,000","$490,973","$648,599"

In [111]:
df4.reset_index()

,title,studio,domestic_gross_x,foreign_gross,year,popularity,vote_average,id,release_date,production_budget,domestic_gross_y,worldwide_gross
0,Toy Story 3,BV,415000000.0,652000000,2010,24.445,7.7,47.0,"Jun 18, 2010","$200,000,000","$415,004,880","$1,068,879,522"
1,Inception,WB,292600000.0,535700000,2010,27.920,8.3,38.0,"Jul 16, 2010","$160,000,000","$292,576,195","$835,524,642"
2,Shrek Forever After,P/DW,238700000.0,513900000,2010,15.041,6.1,27.0,"May 21, 2010","$165,000,000","$238,736,787","$756,244,673"
3,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010,20.340,6.0,53.0,"Jun 30, 2010","$68,000,000","$300,531,751","$706,102,828"
4,Iron Man 2,Par.,312400000.0,311500000,2010,28.515,6.8,15.0,"May 7, 2010","$170,000,000","$312,433,331","$621,156,389"
...,...,...,...,...,...,...,...,...,...,...,...,...
1192,Hotel Artemis,Global Road,6700000.0,6000000,2018,14.585,5.9,15.0,"Jun 8, 2018","$15,000,000","$6,708,137","$12,758,799"
1193,Kin,LGF,5700000.0,4300000,2018,23.805,6.2,88.0,"Aug 31, 2018","$30,000,000","$5,718,096","$10,096,821"
1194,Suspiria,Amazon,2500000.0,5400000,2018,16.925,7.0,81.0,"Oct 26, 2018","$20,000,000","$2,483,472","$7,034,615"
1195,Destroyer,Annapurna,1500000.0,4000000,2018,17.815,5.9,5.0,"Dec 25, 2018","$9,000,000","$1,533,324","$3,681,096"
1196,Bilal: A New Breed of Hero,VE,491000.0,1700000,2018,2.707,6.8,100.0,"Feb 2, 2018","$30,000,000","$490,973","$648,599"

In [112]:
df4.drop(['domestic_gross_x', 'id'], axis = 1, inplace=True)

In [113]:
df4

,studio,foreign_gross,year,popularity,vote_average,release_date,production_budget,domestic_gross_y,worldwide_gross
title,,,,,,,,,
Toy Story 3,BV,652000000,2010,24.445,7.7,"Jun 18, 2010","$200,000,000","$415,004,880","$1,068,879,522"
Inception,WB,535700000,2010,27.920,8.3,"Jul 16, 2010","$160,000,000","$292,576,195","$835,524,642"
Shrek Forever After,P/DW,513900000,2010,15.041,6.1,"May 21, 2010","$165,000,000","$238,736,787","$756,244,673"
The Twilight Saga: Eclipse,Sum.,398000000,2010,20.340,6.0,"Jun 30, 2010","$68,000,000","$300,531,751","$706,102,828"
Iron Man 2,Par.,311500000,2010,28.515,6.8,"May 7, 2010","$170,000,000","$312,433,331","$621,156,389"
...,...,...,...,...,...,...,...,...,...
Hotel Artemis,Global Road,6000000,2018,14.585,5.9,"Jun 8, 2018","$15,000,000","$6,708,137","$12,758,799"
Kin,LGF,4300000,2018,23.805,6.2,"Aug 31, 2018","$30,000,000","$5,718,096","$10,096,821"
Suspiria,Amazon,5400000,2018,16.925,7.0,"Oct 26, 2018","$20,000,000","$2,483,472","$7,034,615"
Destroyer,Annapurna,4000000,2018,17.815,5.9,"Dec 25, 2018","$9,000,000","$1,533,324","$3,681,096"
Bilal: A New Breed of Hero,VE,1700000,2018,2.707,6.8,"Feb 2, 2018","$30,000,000","$490,973","$648,599"

In [114]:
df4.drop(['release_date'], axis = 1, inplace=True)

In [115]:
df4

,studio,foreign_gross,year,popularity,vote_average,production_budget,domestic_gross_y,worldwide_gross
title,,,,,,,,
Toy Story 3,BV,652000000,2010,24.445,7.7,"$200,000,000","$415,004,880","$1,068,879,522"
Inception,WB,535700000,2010,27.920,8.3,"$160,000,000","$292,576,195","$835,524,642"
Shrek Forever After,P/DW,513900000,2010,15.041,6.1,"$165,000,000","$238,736,787","$756,244,673"
The Twilight Saga: Eclipse,Sum.,398000000,2010,20.340,6.0,"$68,000,000","$300,531,751","$706,102,828"
Iron Man 2,Par.,311500000,2010,28.515,6.8,"$170,000,000","$312,433,331","$621,156,389"
...,...,...,...,...,...,...,...,...
Hotel Artemis,Global Road,6000000,2018,14.585,5.9,"$15,000,000","$6,708,137","$12,758,799"
Kin,LGF,4300000,2018,23.805,6.2,"$30,000,000","$5,718,096","$10,096,821"
Suspiria,Amazon,5400000,2018,16.925,7.0,"$20,000,000","$2,483,472","$7,034,615"
Destroyer,Annapurna,4000000,2018,17.815,5.9,"$9,000,000","$1,533,324","$3,681,096"
Bilal: A New Breed of Hero,VE,1700000,2018,2.707,6.8,"$30,000,000","$490,973","$648,599"

In [119]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1197 entries, Toy Story 3 to Bilal: A New Breed of Hero
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   studio             1197 non-null   object
 1   foreign_gross      1197 non-null   object
 2   year               1197 non-null   int64
 3   popularity         1197 non-null   float64
 4   vote_average       1197 non-null   float64
 5   production_budget  1197 non-null   object
 6   domestic_gross_y   1197 non-null   object
 7   worldwide_gross    1197 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 124.2+ KB

In [117]:
df4

,studio,foreign_gross,year,popularity,vote_average,production_budget,domestic_gross_y,worldwide_gross
title,,,,,,,,
Toy Story 3,BV,652000000,2010,24.445,7.7,"$200,000,000","$415,004,880","$1,068,879,522"
Inception,WB,535700000,2010,27.920,8.3,"$160,000,000","$292,576,195","$835,524,642"
Shrek Forever After,P/DW,513900000,2010,15.041,6.1,"$165,000,000","$238,736,787","$756,244,673"
The Twilight Saga: Eclipse,Sum.,398000000,2010,20.340,6.0,"$68,000,000","$300,531,751","$706,102,828"
Iron Man 2,Par.,311500000,2010,28.515,6.8,"$170,000,000","$312,433,331","$621,156,389"
...,...,...,...,...,...,...,...,...
Hotel Artemis,Global Road,6000000,2018,14.585,5.9,"$15,000,000","$6,708,137","$12,758,799"
Kin,LGF,4300000,2018,23.805,6.2,"$30,000,000","$5,718,096","$10,096,821"
Suspiria,Amazon,5400000,2018,16.925,7.0,"$20,000,000","$2,483,472","$7,034,615"
Destroyer,Annapurna,4000000,2018,17.815,5.9,"$9,000,000","$1,533,324","$3,681,096"
Bilal: A New Breed of Hero,VE,1700000,2018,2.707,6.8,"$30,000,000","$490,973","$648,599"

In [118]:
df4.year.astype('int32')

title
Toy Story 3                   2010
Inception                     2010
Shrek Forever After           2010
The Twilight Saga: Eclipse    2010
Iron Man 2                    2010
                              ...
Hotel Artemis                 2018
Kin                           2018
Suspiria                      2018
Destroyer                     2018
Bilal: A New Breed of Hero    2018
Name: year, Length: 1197, dtype: int32

In [120]:
df4['production_budget'] = df4['production_budget'].str.replace(',', '')
df4['production_budget'] = df4['production_budget'].str.replace('$', '')
df4['production_budget'] = df4['production_budget'].astype(int)

In [121]:
df4['domestic_gross_y'] = df4['domestic_gross_y'].str.replace(',', '')
df4['domestic_gross_y'] = df4['domestic_gross_y'].str.replace('$', '')
df4['domestic_gross_y'] = df4['domestic_gross_y'].astype(int)

In [122]:
df4['worldwide_gross'] = df4['worldwide_gross'].str.replace(',', '')
df4['worldwide_gross'] = df4['worldwide_gross'].str.replace('$', '')
df4['worldwide_gross'] = df4['worldwide_gross'].astype(int)

In [123]:
df4

,studio,foreign_gross,year,popularity,vote_average,production_budget,domestic_gross_y,worldwide_gross
title,,,,,,,,
Toy Story 3,BV,652000000,2010,24.445,7.7,200000000,415004880,1068879522
Inception,WB,535700000,2010,27.920,8.3,160000000,292576195,835524642
Shrek Forever After,P/DW,513900000,2010,15.041,6.1,165000000,238736787,756244673
The Twilight Saga: Eclipse,Sum.,398000000,2010,20.340,6.0,68000000,300531751,706102828
Iron Man 2,Par.,311500000,2010,28.515,6.8,170000000,312433331,621156389
...,...,...,...,...,...,...,...,...
Hotel Artemis,Global Road,6000000,2018,14.585,5.9,15000000,6708137,12758799
Kin,LGF,4300000,2018,23.805,6.2,30000000,5718096,10096821
Suspiria,Amazon,5400000,2018,16.925,7.0,20000000,2483472,7034615
Destroyer,Annapurna,4000000,2018,17.815,5.9,9000000,1533324,3681096
Bilal: A New Breed of Hero,VE,1700000,2018,2.707,6.8,30000000,490973,648599

In [127]:
df4= df4.rename(columns={'domestic_gross_y':'domestic_gross'})

In [131]:
df4 = df4.reset_index()

In [132]:
df4

,title,studio,foreign_gross,year,popularity,vote_average,production_budget,domestic_gross,worldwide_gross
0,Toy Story 3,BV,652000000,2010,24.445,7.7,200000000,415004880,1068879522
1,Inception,WB,535700000,2010,27.920,8.3,160000000,292576195,835524642
2,Shrek Forever After,P/DW,513900000,2010,15.041,6.1,165000000,238736787,756244673
3,The Twilight Saga: Eclipse,Sum.,398000000,2010,20.340,6.0,68000000,300531751,706102828
4,Iron Man 2,Par.,311500000,2010,28.515,6.8,170000000,312433331,621156389
...,...,...,...,...,...,...,...,...,...
1192,Hotel Artemis,Global Road,6000000,2018,14.585,5.9,15000000,6708137,12758799
1193,Kin,LGF,4300000,2018,23.805,6.2,30000000,5718096,10096821
1194,Suspiria,Amazon,5400000,2018,16.925,7.0,20000000,2483472,7034615
1195,Destroyer,Annapurna,4000000,2018,17.815,5.9,9000000,1533324,3681096
1196,Bilal: A New Breed of Hero,VE,1700000,2018,2.707,6.8,30000000,490973,648599

In [136]:
df4.sort_values(by=['worldwide_gross'], ascending=False)

,title,studio,foreign_gross,year,popularity,vote_average,production_budget,domestic_gross,worldwide_gross
1104,Avengers: Infinity War,BV,"1,369.5",2018,80.773,8.3,300000000,678815482,2048134200
676,Jurassic World,Uni.,"1,019.4",2015,20.709,6.6,215000000,652270625,1648854864
677,Furious 7,Uni.,"1,163.0",2015,20.396,7.3,190000000,353007020,1518722794
678,Avengers: Age of Ultron,BV,946400000,2015,44.383,7.3,330600000,459005868,1403013963
1106,Black Panther,BV,646900000,2018,44.140,7.4,200000000,700059566,1348258224
...,...,...,...,...,...,...,...,...,...
675,Jackpot,DR,1100000,2014,2.864,6.1,400000,44452,44452
674,Jackpot,DR,1100000,2014,0.600,6.0,400000,44452,44452
559,Mr. Nobody,Magn.,3500000,2013,17.242,7.9,46500000,3622,22254
540,Trance,FoxS,21900000,2013,9.571,6.6,950000,0,0
291,Point Blank,Magn.,8500000,2011,6.021,6.6,3000000,0,0

In [137]:
df4['returns'] = df4['worldwide_gross']/df4['production_budget']

In [138]:
df4

,title,studio,foreign_gross,year,popularity,vote_average,production_budget,domestic_gross,worldwide_gross,returns
0,Toy Story 3,BV,652000000,2010,24.445,7.7,200000000,415004880,1068879522,5.344398
1,Inception,WB,535700000,2010,27.920,8.3,160000000,292576195,835524642,5.222029
2,Shrek Forever After,P/DW,513900000,2010,15.041,6.1,165000000,238736787,756244673,4.583301
3,The Twilight Saga: Eclipse,Sum.,398000000,2010,20.340,6.0,68000000,300531751,706102828,10.383865
4,Iron Man 2,Par.,311500000,2010,28.515,6.8,170000000,312433331,621156389,3.653861
...,...,...,...,...,...,...,...,...,...,...
1192,Hotel Artemis,Global Road,6000000,2018,14.585,5.9,15000000,6708137,12758799,0.850587
1193,Kin,LGF,4300000,2018,23.805,6.2,30000000,5718096,10096821,0.336561
1194,Suspiria,Amazon,5400000,2018,16.925,7.0,20000000,2483472,7034615,0.351731
1195,Destroyer,Annapurna,4000000,2018,17.815,5.9,9000000,1533324,3681096,0.409011
1196,Bilal: A New Breed of Hero,VE,1700000,2018,2.707,6.8,30000000,490973,648599,0.021620

In [139]:
df4.sort_values(by=['worldwide_gross'], ascending=False)

,title,studio,foreign_gross,year,popularity,vote_average,production_budget,domestic_gross,worldwide_gross,returns
1104,Avengers: Infinity War,BV,"1,369.5",2018,80.773,8.3,300000000,678815482,2048134200,6.827114
676,Jurassic World,Uni.,"1,019.4",2015,20.709,6.6,215000000,652270625,1648854864,7.669092
677,Furious 7,Uni.,"1,163.0",2015,20.396,7.3,190000000,353007020,1518722794,7.993278
678,Avengers: Age of Ultron,BV,946400000,2015,44.383,7.3,330600000,459005868,1403013963,4.243841
1106,Black Panther,BV,646900000,2018,44.140,7.4,200000000,700059566,1348258224,6.741291
...,...,...,...,...,...,...,...,...,...,...
675,Jackpot,DR,1100000,2014,2.864,6.1,400000,44452,44452,0.111130
674,Jackpot,DR,1100000,2014,0.600,6.0,400000,44452,44452,0.111130
559,Mr. Nobody,Magn.,3500000,2013,17.242,7.9,46500000,3622,22254,0.000479
540,Trance,FoxS,21900000,2013,9.571,6.6,950000,0,0,0.000000
291,Point Blank,Magn.,8500000,2011,6.021,6.6,3000000,0,0,0.000000

In [140]:
df4[df4['worldwide_gross'] > 600000000]

,title,studio,foreign_gross,year,popularity,vote_average,production_budget,domestic_gross,worldwide_gross,returns
0,Toy Story 3,BV,652000000,2010,24.445,7.7,200000000,415004880,1068879522,5.344398
1,Inception,WB,535700000,2010,27.920,8.3,160000000,292576195,835524642,5.222029
2,Shrek Forever After,P/DW,513900000,2010,15.041,6.1,165000000,238736787,756244673,4.583301
3,The Twilight Saga: Eclipse,Sum.,398000000,2010,20.340,6.0,68000000,300531751,706102828,10.383865
4,Iron Man 2,Par.,311500000,2010,28.515,6.8,170000000,312433331,621156389,3.653861
...,...,...,...,...,...,...,...,...,...,...
1109,Aquaman,WB,812700000,2018,38.102,6.8,160000000,335061807,1146894640,7.168092
1110,Bohemian Rhapsody,Fox,687200000,2018,37.197,8.1,55000000,216303339,894985342,16.272461
1111,Deadpool 2,Fox,460500000,2018,38.894,7.5,110000000,324591735,786680557,7.151641
1112,Fantastic Beasts: The Crimes of Grindelwald,WB,494100000,2018,48.508,6.9,200000000,159555901,652220086,3.261100
1113,Ant-Man and the Wasp,BV,406000000,2018,44.729,7.0,130000000,216648740,623144660,4.793420

In [148]:
df5 = df4[df4['worldwide_gross'] > 400000000]

In [142]:
df5['returns'].mean()

6.095574641842108

In [143]:
df6 = df4[df4['worldwide_gross'] < 600000000]

In [144]:
df6['returns'].mean()

4.752697573890497

In [149]:
df5['studio'].unique()

array(['BV', 'WB', 'P/DW', 'Sum.', 'Par.', 'Uni.', 'Fox', 'Sony',
       'WB (NL)', 'LGF', 'Wein.', 'LG/S'], dtype=object)

In [153]:
df5[df5['studio']== 'WB (NL)']

,title,studio,foreign_gross,year,popularity,vote_average,production_budget,domestic_gross,worldwide_gross,returns
312,The Hobbit: An Unexpected Journey,WB (NL),718100000,2012,26.939,7.2,250000000,303003568,1017003568,4.068014
443,The Hobbit: The Desolation of Smaug,WB (NL),700000000,2013,21.275,7.6,250000000,258366855,960366855,3.841467
563,The Hobbit: The Battle of the Five Armies,WB (NL),700900000,2014,53.783,7.3,250000000,255119788,945577621,3.782310
693,San Andreas,WB (NL),318800000,2015,27.414,6.1,110000000,155190832,456258539,4.147805
996,It,WB (NL),372900000,2017,13.966,7.2,35000000,327481748,697457969,19.927371
997,It,WB (NL),372900000,2017,13.966,7.2,35000000,327481748,697457969,19.927371